@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');
@import url('https://fonts.googleapis.com/css?family=Kosugi');
@import url('https://fonts.googleapis.com/css?family=Sacramento');


body{
  
  margin: 0 auto;
  background-color: #fffff3;
}

a{
  text-decoration: none;
}

.container{
  /*width: 1500px;*/
  
}

header{
 height:110px;
 width: 100%;
 padding-left: 15px;
 background-color: #0f2350;
 opacity: 0.7;
 position: fixed;
 top: 0px;
 z-index: 10;
}

.logo{
  float: left;
  padding-top: 5px;
  width:62px; height:100px;
  object-fit:none;
  object-position: 0% 50%;
}

.header-contents{
  font-style:unset;
  font-family: serif; 
  display: inline-block;
  float: right;
  line-height: 110px;
  color: azure;
  padding: 0px 60px;
  transition: 0.5s;
}

.header-contents:hover{
  opacity:1;
  background-color: #2ca9e1;
}

.top-wrapper{
  height: 730px;
  background-image:url(https://www.wallpaperup.com/uploads/wallpapers/2013/12/15/196207/dfe27e0ee314d6e8181a2c5c4166f12f.jpg);
  background-size: 1500px 770px ;
  color: azure;
  position: relative;
}

.top-wrapper h1{
  font-weight: 100px;
  font-style: italic;
  /*font-family: serif;*/
    font-family: 'Noto Serif JP', sans-serif;
  position: absolute;
  top: 325px;
  left:900px;
}

.about-wrapper{
  height: 500px;
}

.heading h1{
  color: slategray;
  font-weight: 50;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  letter-spacing: 3px;
  margin: 200px 0px 30px 0px;
  text-align: center;
}

.about-content {
  float: left;
  margin: 0 auto;
  position: relative;
}

.content{
  display: block;
  color: azure;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  width: 358px;
  margin-left: 1px;
  font-size: 50px;
  background-color: cadetblue;
  transition: all 0.5s;
}

.content:hover{
  background-color:darkgreen;
}

.about-content img{
  border-right: 1px solid #f5f5f5;
  border-left: 1px solid #f5f5f5;
}

.comment-wrapper{
  height: 400px;
  /*position: relative;*/
}

.comments{
  text-align: center;
}

.comments h1{
  color: #164a84;
  font-weight: normal;
  font-family: serif;
  font-size: 40px;
  width: 800px;
  margin: 0 auto;
  margin-top: 120px;
  /*position: absolute;
  top: 325px;
  left:900px;*/
}

.comments p{
  width: 800px;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 200%;
}

.news-wrapper{
  height: 475px;
}

.news-title h1{
  color: slategray;
  text-align: center;
  font-weight: 100;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  margin: 20px 0px 30px 0px;
  letter-spacing: 3px;
}

.news-contents{
  height: 200px;
  width: 1000px;
  margin: 0 auto;
  overflow: scroll;
  border: 3px solid #164a84;
  opacity: 0.6;
}

dl{
  width:100%;
 }
 dt{
  border-bottom:1px solid #ccc;
   float:left;
   padding:10px 5px;
 }
 dd{
  border-bottom:1px solid #ccc;
   margin-left:100px;
   padding:10px 5px;
 }

.contact-wrapper{
  height: 400px;
  padding-bottom: 100px;
  text-align: center;
}

.contact-heading h1{
  color: slategray;
  text-align: center;
  font-weight: 100;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  margin: 0px 0px 30px 0px;
  letter-spacing: 3px;
}

.contact-heading p{
  color: slategray;
  text-align: center;
  font-weight: 100;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  margin: 0px 0px 30px 0px;
  letter-spacing: 3px;
}

.contact-btn{
  display: inline-block;
  padding:15px 90px;
  border:3px solid darkgreen;
  border-radius: 8px;
  box-shadow:0px 7px #595857;
}

.contact-btn:active{
  position: relative;
  top: 7px;
  box-shadow: none;
}

.contact-btn p{
  font-size: 20px;
  color: #2b2b2b;
  letter-spacing: 5px;
}

footer{
  height: 170px;
  width: 1500px;
  background-color: #0f2350;
  opacity: 1;
  position: absolute;
}

.logo2{
  position: relative;
  top: 48px;
  left: 10px;
  opacity: 0.8;
}

.footer-contents {
  float: right;
  color:azure;
  position: relative;
  bottom: 60px;
  right: 80px;
  opacity: 0.8;
}

li{
  list-style: none;
}
